<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for("static",filename="img/global.css") }}" />
    <link rel="stylesheet" href="{{ url_for("static",filename="css/about.css") }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source Sans 3:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="page-structure1">
      <div class="header">
        <div class="hero">
          <img
            class="image-5-icon3"
            loading="lazy"
            alt=""
            src="{{ url_for("static",filename="public/image-5@2x.png") }}"
          />

          <div class="hero-content">
            <img
              class="vector-icon31"
              loading="lazy"
              alt=""
              src="./public/vector2.svg"
            />
          </div>
        </div>
        <div class="about-us-wrapper">
          <h1 class="about-us">ABOUT US</h1>
        </div>
      </div>
      <section class="team-intro-wrapper">
        <div class="team-intro">
          <div class="at-licet-forum-container">
            <p class="at-licet-forum">
              At LICET FORUM, we believe in creating seamless online experiences
              for our users. Whether you're looking for information, connecting
              with faculties and other department members, we've got you
              covered. Our website is designed to cater to your needs, providing
              you with easy access to valuable resources, engaging content, and
              innovative solutions.
            </p>
            <p class="p"></p>
          </div>
          <div class="team-members">
            <div class="developers-himani-chandrab-container">
              <p class="developers">DEVELOPERS:</p>
              <p class="p1"></p>
              <p class="himani-chandrab-from">Himani Chandra.B from CSE A</p>
              <p class="issac-kingsleyd-from">Issac Kingsley.D from CSE A</p>
              <p class="keerthanan-from-cse">Keerthana.N from CSE A</p>
              <p class="johanna-fernandop-from">
                Johanna Fernando.P from CSE A
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
