<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for("static",filename="css/global.css") }}" />
    <link rel="stylesheet" href="{{ url_for("static",filename="css/anouncements.css") }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source Sans 3:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="anouncements">
      <div class="image-2-wrapper">
        <img
          class="image-2-icon"
          loading="lazy"
          alt=""
          src="{{ url_for("static",filename="public/image-2@2x.png") }}"
        />
      </div>
      <div class="post-bottom">
        <div class="reactions-counter">
          <div class="reactions-counter1">
            <div class="reactions">
              <img
                class="reactionslinkedin-like-contai-icon"
                alt=""
                src="{{ url_for("static",filename="public/reactionslinkedinlikecontainer.svg") }}"
              />

              <img
                class="reactionslinkedin-love-contai-icon"
                alt=""
                src="{{ url_for("static",filename="public/reactionslinkedinlovecontainer.svg") }}"
              />

              <img
                class="reactionslinkedin-insightful-icon"
                alt=""
                src="{{ url_for("static",filename="public/reactionslinkedininsightfulcontainer.svg") }}"
              />
            </div>
            <div class="div">113</div>
          </div>
          <div class="comments-repost-counter">
            <div class="comments">10 comments</div>
            <div class="comments-repost-counter-child"></div>
            <div class="reposts">7 reposts</div>
          </div>
        </div>
        <div class="divider">
          <div class="divider1"></div>
        </div>
        <div class="reactions1">
          <div class="reactions-animation">
            <div class="reactionslikedefault-wrapper">
              <div class="reactionslikedefault">
                <img
                  class="iconslinkedin-like"
                  alt=""
                  src="{{ url_for("static",filename="/public/iconslinkedinlike.svg") }}"
                />

                <div class="like">Like</div>
              </div>
            </div>
            <div class="reactions-set">
              <div class="reactionslinkedin">
                <img
                  class="reactionslinkedin-icon"
                  alt=""
                  src="{{ url_for("static",filename="/public/reactionslinkedin.svg")}}"
                />

                <img
                  class="reactionslinkedin-icon1"
                  alt=""
                  src="{{ url_for("static",filename="/public/reactionslinkedin-1.svg") }}"
                />

                <img
                  class="reactionslinkedin-icon2"
                  alt=""
                  src="{{ url_for("static",filename="/public/reactionslinkedin-2.svg") }}"
                />

                <img
                  class="reactionslinkedin-icon3"
                  alt=""
                  src="{{ url_for("static",filename="/public/reactionslinkedin-3.svg") }}"
                />

                <img
                  class="reactionslinkedin-icon4"
                  alt=""
                  src="{{ url_for("static",filename="/public/reactionslinkedin-4.svg") }}"
                />

                <img
                  class="reactionslinkedin-icon5"
                  alt=""
                  src="{{ url_for("static",filename="/public/reactionslinkedin-5.svg") }}"
                />
              </div>
            </div>
          </div>
          <div class="comment">
            <img
              class="iconslinkedin-comment"
              alt=""
              src="{{ url_for("static",filename="/public/iconslinkedincomment.svg") }}"
            />

            <div class="comment1">Comment</div>
          </div>
          <div class="share">
            <img
              class="iconslinkedin-repost"
              alt=""
              src="{{ url_for("static",filename="/public/iconslinkedinrepost@2x.png") }}"
            />

            <div class="repost">Repost</div>
          </div>
          <div class="send">
            <img
              class="iconslinkedin-share"
              alt=""
              src="{{ url_for("static",filename="/public/iconslinkedinshare.svg") }}"
            />

            <div class="send1">Send</div>
          </div>
        </div>
      </div>
      <main class="frame-main">
        <section class="frame-section">
          <div class="announcements-parent">
            <h1 class="announcements">ANNOUNCEMENTS</h1>
            <div class="frame-parent2">
              <div class="linkedin-carousel-parent4">
                <img
                  class="linkedin-carousel-icon6"
                  alt=""
                  src="{{ url_for("static",filename="public/reactionslinkedinlovecontainer.svg") }}"
                />

                <div class="profile-circle-icon-2048x2048-container">
                  <img
                    class="profile-circle-icon-2048x2048-4"
                    loading="lazy"
                    alt=""
                    src="{{ url_for("static",filename="/public/profilecircleicon2048x2048cqe5466q-2-1@2x.png") }}"
                  />

                  <div class="katherine-mary-parent1">
                    <h2 class="katherine-mary3">Katherine Mary</h2>
                    <div class="frame-wrapper4">
                      <div class="linkedin-carousel-parent5">
                        <img
                          class="linkedin-carousel-icon7"
                          alt=""
                          src="{{ url_for("static",filename="/public/linkedin-carousel-1@2x.png") }}"
                        />

                        <div class="department-of-it3">
                          Department of IT, II year
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-wrapper5">
                  <div class="vector-parent1">
                    <img
                      class="vector-icon8"
                      loading="lazy"
                      alt=""
                      src="{{ url_for("static",filename="/public/vector.svg") }}"
                    />

                    <img
                      class="vector-icon9"
                      alt=""
                      src="{{ url_for("static",filename="/public/vector-1.svg") }}"
                    />

                    <img
                      class="vector-icon10"
                      alt=""
                      src="{{ url_for("static",filename="/public/vector-2.svg") }}"
                    />

                    <img
                      class="uiwreload-icon3"
                      loading="lazy"
                      alt=""
                      src="{{ url_for("static",filename="/public/uiwreload.svg") }}"
                    />
                  </div>
                </div>
              </div>
              <div class="frame-parent3">
                <div class="linkedin-carousel-parent6">
                  <img
                    class="linkedin-carousel-icon8"
                    alt=""
                    src="{{ url_for("static",filename="/public/linkedin-carousel-2@2x.png") }}"
                  />

                  <div class="profile-circle-icon-2048x2048-parent1">
                    <img
                      class="profile-circle-icon-2048x2048-5"
                      alt=""
                      src="{{ url_for("static",filename="/public/profilecircleicon2048x2048cqe5466q-2-11@2x.png") }}"
                    />

                    <div class="katherine-mary-parent2">
                      <h2 class="katherine-mary4">Katherine Mary</h2>
                      <div class="frame-wrapper6">
                        <div class="linkedin-carousel-parent7">
                          <img
                            class="linkedin-carousel-icon9"
                            alt=""
                            src="{{ url_for("static",filename="/public/linkedin-carousel-3@2x.png") }}"
                          />

                          <div class="department-of-it4">
                            Department of IT, II year
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper7">
                    <div class="vector-parent2">
                      <img
                        class="vector-icon11"
                        alt=""
                        src="{{ url_for("static",filename="/public/vector-3.svg") }}"
                      />

                      <img
                        class="vector-icon12"
                        alt=""
                        src="{{ url_for("static",filename="/public/vector-4.svg") }}"
                      />

                      <img
                        class="vector-icon13"
                        alt=""
                        src="{{ url_for("static",filename="/public/vector-5.svg") }}"
                      />

                      <img
                        class="uiwreload-icon4"
                        alt=""
                        src="{{ url_for("static",filename="/public/uiwreload-1.svg") }}"
                      />
                    </div>
                  </div>
                </div>
                <div class="linkedin-carousel-parent8">
                  <img
                    class="linkedin-carousel-icon10"
                    alt=""
                    src="{{ url_for("static",filename="/public/linkedin-carousel-4@2x.png") }}"
                  />

                  <div class="profile-circle-icon-2048x2048-parent2">
                    <img
                      class="profile-circle-icon-2048x2048-6"
                      alt=""
                      src="{{ url_for("static",filename="/public/profilecircleicon2048x2048cqe5466q-2-1@2x.png") }}"
                    />

                    <div class="katherine-mary-parent3">
                      <h2 class="katherine-mary5">Katherine Mary</h2>
                      <div class="frame-wrapper8">
                        <div class="linkedin-carousel-parent9">
                          <img
                            class="linkedin-carousel-icon11"
                            alt=""
                            src="{{ url_for("static",filename="/public/linkedin-carousel-5@2x.png") }}"
                          />

                          <div class="department-of-it5">
                            Department of IT, II year
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper9">
                    <div class="vector-parent3">
                      <img
                        class="vector-icon14"
                        alt=""
                        src="{{ url_for("static",filename="/public/vector.svg") }}"
                      />

                      <img
                        class="vector-icon15"
                        alt=""
                        src="{{ url_for("static",filename="/public/vector-1.svg") }}"
                      />

                      <img
                        class="vector-icon16"
                        alt=""
                        src="{{ url_for("static",filename="/public/vector-2.svg") }}"
                      />

                      <img
                        class="uiwreload-icon5"
                        alt=""
                        src="{{ url_for("static",filename="./public/uiwreload.svg") }}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <img class="search-icon" alt="" src="{{ url_for("static",filename="/public/search@2x.png") }}" />
      </main>
      <div class="anouncements-child"></div>
    </div>
  </body>
</html>
