<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for("static",filename="css/global.css") }}" />
    <link rel="stylesheet" href="{{ url_for("static",filename="css/frame-9.css") }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source Sans 3:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="frame-root">
      <main class="search-parent">
        
        <img class="frame-child1" alt="" src="{{ url_for("static",filename="public/rectangle-27.svg") }}" />

        <img
          class="linkedin-carousel-icon14"
          alt=""
          src="{{ url_for("static",filename="public/linkedin-carousel@2x.png") }}"
        />

        <img
          class="linkedin-carousel-icon15"
          alt=""
          src="{{ url_for("static",filename="public/linkedin-carousel-1@2x.png") }}"
        />

        <img
          class="linkedin-carousel-icon16"
          alt=""
          src="{{ url_for("static",filename="public/linkedin-carousel-1@2x.png") }}"
        />
        
        <section class="frame-parent7">
          <div class="linkedin-carousel-parent12">
            <img
              class="linkedin-carousel-icon17"
              alt=""
              src="{{ url_for("static",filename="public/linkedin-carousel@2x.png") }}"
            />

            <div class="profile-circle-icon-2048x2048-parent4">
              <img
                class="profile-circle-icon-2048x2048-9"
                loading="lazy"
                alt=""
                src="{{ url_for("static",filename="public/profilecircleicon2048x2048cqe5466q-2-1@2x.png") }}"
              />

              <div class="katherine-mary-parent5">
                <a href=
                '{{ url_for("discuss")}}'>
                <h2 class="katherine-mary7">Katherine Mary</h2>
                </a>
                <div class="department-of-it-ii-year-wrapper">
                  <div class="department-of-it7">Department of IT, II year</div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper14">
              <div class="vector-parent6">
                <img
                  class="vector-icon22"
                  loading="lazy"
                  alt=""
                  src="{{ url_for("static",filename="public/vector.svg") }}"
                />

                <img
                  class="vector-icon23"
                  loading="lazy"
                  alt=""
                  src="{{ url_for("static",filename="public/vector-12.svg") }}"
                />

                <img
                  class="vector-icon24"
                  loading="lazy"
                  alt=""
                  src="{{ url_for("static",filename="public/vector-21.svg") }}"
                />

                <img
                  class="uiwreload-icon7"
                  loading="lazy"
                  alt=""
                  src="{{ url_for("static",filename="public/uiwreload1.svg") }}"
                />
              </div>
            </div>
          </div>
          <div class="linked-in-carousel-main">
            <div class="linked-in-carousel-and-profile">
              <img
                class="linkedin-carousel-icon18"
                alt=""
                src="{{ url_for("static",filename="public/linkedin-carousel@2x.png") }}"
              />

              <div class="first-linked-in-carousel">
                <img
                  class="profile-circle-icon-2048x2048-10"
                  loading="lazy"
                  alt=""
                  src="{{ url_for("static",filename="public/profilecircleicon2048x2048cqe5466q-2-1@2x.png") }}"
                />

                <div class="katherine-mary-label1">
                  <h2 class="katherine-mary8">Katherine Mary</h2>
                  <div class="department-of-it-ii-year-container">
                    <div class="department-of-it8">
                      Department of IT, II year
                    </div>
                  </div>
                </div>
              </div>
              <div class="image-container">
                <div class="vector-parent7">
                  <img
                    class="vector-icon25"
                    loading="lazy"
                    alt=""
                    src="{{ url_for("static",filename="public/vector.svg") }}"
                  />

                  <img
                    class="vector-icon26"
                    loading="lazy"
                    alt=""
                    src="{{ url_for("static",filename="public/vector-1.svg") }}"
                  />

                  <img
                    class="vector-icon27"
                    loading="lazy"
                    alt=""
                    src="{{ url_for("static",filename="public/vector-2.svg") }}"
                  />

                  <img
                    class="uiwreload-icon8"
                    loading="lazy"
                    alt=""
                    src="{{ url_for("static",filename="public/uiwreload.svg") }}"
                  />
                </div>
              </div>
            </div>
            <div class="linked-in-carousel-and-profile1">
              <img
                class="linkedin-carousel-icon19"
                alt=""
                src="{{ url_for("static",filename="public/linkedin-carousel@2x.png") }}"
              />

              <div class="profile-circle-icon-2048x2048-parent5">
                <img
                  class="profile-circle-icon-2048x2048-11"
                  loading="lazy"
                  alt=""
                  src="{{ url_for("static",filename="public/profilecircleicon2048x2048cqe5466q-2-1@2x.png") }}"
                />

                <div class="katherine-mary-parent6">
                  <h2 class="katherine-mary9">Katherine Mary</h2>
                  <div class="department-of-it-ii-year-frame">
                    <div class="department-of-it9">
                      Department of IT, II year
                    </div>
                  </div>
                </div>
              </div>
              <div class="linked-in-carousel-and-profile-inner">
                <div class="vector-parent8">
                  <img
                    class="vector-icon28"
                    loading="lazy"
                    alt=""
                    src="{{ url_for("static",filename="public/vector.svg") }}"
                  />

                  <img
                    class="vector-icon29"
                    loading="lazy"
                    alt=""
                    src="{{ url_for("static",filename="public/vector-1.svg") }}"
                  />

                  <img
                    class="vector-icon30"
                    loading="lazy"
                    alt=""
                    src="{{ url_for("static",filename="public/vector-2.svg") }}"
                  />

                  <img
                    class="uiwreload-icon9"
                    loading="lazy"
                    alt=""
                    src="{{ url_for("static",filename="public/uiwreload.svg") }}"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <img
          class="image-7-icon"
          loading="lazy"
          alt=""
          src="{{ url_for("static",filename="public/image-7@2x.png") }}"
        />
      </main>
    </div>
  </body>
</html>
