<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for("static",filename="css/global.css") }}" />
    <link rel="stylesheet" href="{{ url_for("static",filename="css/frame-11.css") }}"  />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source Sans 3:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="home-parent">
      <main class="home">
        <b class="text"> </b>
        <div class="home1"></div>
        <section class="uiwmessage-parent">
          <div class="uiwmessage"></div>
          <div class="frame-parent4">
            <div class="frame-parent5">
              <div class="vector-wrapper">
                <img
                  class="vector-icon17"
                  loading="lazy"
                  alt=""
                  src="{{ url_for("static",filename="public/vector1.svg")}}"
                />
              </div>
              <div class="announcements-group">
                <div class="announcements1">
                  <img
                    class="profile-circle-icon-2048x2048-7"
                    loading="lazy"
                    alt=""
                    src="{{ image }}"
                  />

                  <div class="profile-wrapper">
                    <a href="{{ url_for('profile', username=username) }}">
                    <b class="profile1">Profile</b>
                  </a>
                  </div>
                </div>
                <a href="{{ url_for("announce")}}">
                <div class="activity-wrapper">
                  <b class="activity">Activity</b>
                </div>
              </a>
              </div>
            </div>
            <b class="announcements-blog-leaderboard-container">
              <span class="announcements-blog-leaderboard-container1">
                <a href="{{ url_for("announce")}}">
                <p class="announcements2">Announcements</p>
                </a>
                
                <p class="blank-line">&nbsp;</p>
                
                <a href="{{ url_for("blog")}}">
                <p class="blog">Blog</p>
                </a>
                <p class="blank-line">&nbsp;</p>
                
                <a href="{{ url_for("dm")}}">
                <p class="blog">Messages</p>
                </a>
                
                <p class="blank-line1">&nbsp;</p>
                
                <a href="{{ url_for("leaderboard")}}">
                <p class="leaderboard">LeaderBoard</p>
                </a>
                
                <p class="blank-line2">&nbsp;</p>

                <a href="{{ url_for("gallery")}}">
                <p class="gallery">Gallery</p>
                </a>
                <p class="blank-line2">&nbsp;</p>

                <a href="{{ url_for("store")}}">
                <p class="gallery">Store</p>
                </a>
                <p class="blank-line3">&nbsp;</p>
                <a href="{{ url_for("overview",username=username)}}">
                  <p class="gallery">Attendance</p>
                  </a>
                  <p class="blank-line3">&nbsp;</p>

                <a href="{{ url_for("announce")}}">
                <p class="about1">About</p>
                </a>
              </span>
            </b>
          </div>
          <div class="uiwmore"></div>
          <div class="rectangle-wrapper">
            <div class="frame-item"></div>
          </div>
          <div class="frame-wrapper10">
            <div class="frame-parent6">
              <div class="frame-wrapper11">
                <div class="image-2-parent">
                  <img
                    class="image-2-icon1"
                    loading="lazy"
                    alt=""
                    src="{{ url_for("static",filename="public/image-21@2x.png") }}"
                  />

                  <div class="most-relevant-label">
                    <div class="search-box">
                      <div class="search-box-child"></div>
                      <div class="vector-frame">
                        <img
                          class="vector-icon18"
                          alt=""
                          src="{{ url_for("static",filename="public/vector-11.svg") }}"
                        />
                      </div>
                      <input class="search" placeholder="Search" type="text" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="relevancy-comment-input-wrapper">
                <div class="relevancy-comment-input">
                  <div class="relevancy-filter">
                    <div class="most-relevant">Options</div>
                    <img
                      class="iconsfb-caret-down-filled"
                      alt=""
                      src="{{ url_for("static",filename="public/iconsfbcaretdownfilled.svg") }}"
                    />
                  </div>
                  <div class="comment-input-avatar">
                    <img
                      class="profileimagecircle-icon"
                      loading="lazy"
                      alt=""
                      src="{{ url_for("static",filename="public/profileimagecircle@2x.png") }}"
                    />

                    <div class="comment-input">
                      <div class="like1">Write a post.....</div>
                      <div class="comment-icons">
                        <img
                          class="iconsfb-avatar-sticker"
                          loading="lazy"
                          alt=""
                          src="{{ url_for("static",filename="public/iconsfbavatarsticker.svg") }}"
                        />

                        <img
                          class="iconsfb-smile"
                          loading="lazy"
                          alt=""
                          src="{{ url_for("static",filename="/public/iconsfbsmile.svg") }}"
                        />

                        <img
                          class="iconsfb-camera"
                          loading="lazy"
                          alt=""
                          src="{{ url_for("static",filename="/public/iconsfbcamera.svg") }}"
                        />

                        <img
                          class="iconsfb-gif"
                          loading="lazy"
                          alt=""
                          src="{{ url_for("static",filename="/public/iconsfbgif.svg") }}"
                        />

                        <img
                          class="iconsfb-stickers"
                          loading="lazy"
                          alt=""
                          src="{{ url_for("static",filename="/public/iconsfbstickers.svg") }}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vector-parent4">
                <img class="frame-inner" loading="lazy" alt="" />

                <img
                  class="rectangle-icon"
                  alt=""
                  src="{{ url_for("static",filename="/public/rectangle-26.svg") }}"
                />
              </div>
              <div class="linkedin-carousel-parent10">
                <img
                  class="linkedin-carousel-icon12"
                  alt=""
                  src="{{ url_for("static",filename="/public/linkedin-carousel@2x.png") }}"
                />

                <div class="profile-circle-icon-2048x2048-parent3">
                  <img
                    class="profile-circle-icon-2048x2048-8"
                    loading="lazy"
                    alt=""
                    src="{{ url_for("static",filename="/public/profilecircleicon2048x2048cqe5466q-2-1@2x.png") }}"
                  />

                  <div class="katherine-mary-parent4">
                    <div class="katherine-mary6">Katherine Mary</div>
                    <div class="frame-wrapper12">
                      <div class="linkedin-carousel-parent11">
                        <img
                          class="linkedin-carousel-icon13"
                          alt=""
                          src="{{ url_for("static",filename="/public/linkedin-carousel-1@2x.png") }}"
                        />

                        <div class="department-of-it6">
                          Department of IT, II year
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-wrapper13">
                  <div class="vector-parent5">
                    <img
                      class="vector-icon19"
                      loading="lazy"
                      alt=""
                      src="{{ url_for("static",filename="/public/vector.svg") }}"
                    />

                    <img
                      class="vector-icon20"
                      loading="lazy"
                      alt=""
                      src="{{ url_for("static",filename="/public/vector-1.svg") }}"
                    />

                    <img
                      class="vector-icon21"
                      loading="lazy"
                      alt=""
                      src="{{ url_for("static",filename="/public/vector-2.svg")}}"
                    />

                    <img
                      class="uiwreload-icon6"
                      loading="lazy"
                      alt=""
                      src="{{ url_for("static",filename="/public/uiwreload.svg")}}"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <div class="lorem-ipsum-dolor">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </div>
      <b class="following">Following</b>
      <div class="linked-in-carousel">
        <b class="trending">Trending</b>
      </div>
    </div>
  </body>
</html>
